.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --color-blue: #ADB2D4;
  --color-teal: #C7D9DD;
  --color-sage: #D5E5D5;
  --color-pastel: #EEF1DA;
}

.bg-main {
  background-color: var(--color-blue);
  color: #fff;
}

.bg-secondary-custom {
  background-color: var(--color-teal);
  color: #333;
}

.btn-pastel {
  background-color: var(--color-pastel);
  color: #333;
  border: none;
}
