body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --color-blue: #ADB2D4;
  --color-teal: #C7D9DD;
  --color-sage: #D5E5D5;
  --color-pastel: #EEF1DA;
}

.bg-main {
  background-color: var(--color-blue);
  color: #fff;
}

.bg-secondary-custom {
  background-color: var(--color-teal);
  color: #333;
}

.btn-pastel {
  background-color: var(--color-pastel);
  color: #333;
  border: none;
}
